* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }




h1{
 color: green;
 text-align: center;
 margin-top: 40px;
}

 @media (min-width: 1024px){
h1{

font-size:50px;
margin-top: 70px;}}

.text{
padding: 20px 20px;
}

@media (min-width: 1024px){
.text{
    padding:40px 220px;
}}
#image{
    width: 100%;
}
#video{
    width: 100%;
    height: 300px;
}


.pict{
    padding: 30px 20px;
}

@media (min-width: 1024px){
.pict{
    padding:30px 220px;
}}

#explanation{
    color: green;  
    font-size: 16px;
}
@media (min-width: 1024px){
#explanation{
     font-size: 30px;

}}

#copyright{
    color: green;
   font-size: 10px;
   padding-left: 150px;
}

    @media (min-width: 1024px){
#copyright{
    font-size: 30px;
    padding-left: 680px;

}}



